{% extends 'billing/base.html' %}
{% block contant %}
<div class="row">
    <div class="col-sm-4">
        <h4 class="text-center alert alert-info">Add Subscriber</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Add">           
        </form>
        
    </div>

    <div class="col-sm-7 offset-1">
    
        
        <h4 class="text-center alert alert-info">Show Subscriber Informations</h4>
        {% if sub %}
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <!-- <th scope="col">ID</th> -->
                    <th scope="col">Name</th>
                    <th scope="col">StartingDate</th>
                    <th scope="col">ToDate</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Customer</th>
                </tr>
            </thead>
            <tbody>
                {% for subs in sub %}
                <tr>
                    <!-- <th scope="row">{{subs.id}}</th> -->
                    <td>{{subs.customer_name}}</td>
                    <td>{{subs.from_date }}</td>
                    <td>{{subs.to_date}}</td>
                    <td>{{subs.amount}}</td>
                    <td>{{subs.status}}</td>
                    <td>{{subs.customer}}</td>
                    <td>
                        
                        
                        <a href="{% url 'updatecustomer' subs.id %}" class="btn btn-warning btn-sm">Edit</a>
                        
                        <form action="{% url 'deletecustomerdata' subs.id %}" method="post" class="d-inline">{% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% else %}
        <h4 class="text-center alert alert-warning">No Records</h4>
        {% endif %}
    </div>
</div>
{% endblock contant %}